*{
  box-sizing: border-box;
}

#root{
  width: 600px;
  height: 100%;
  margin: 100px auto 0;
}

ul{
  margin: 0;
  padding: 0;
  height: 400px;
  overflow-y: scroll;
  background-color: pink;
}

button{
  outline: none;
  border: 0;
  cursor: pointer;
}

.add-form{
  background-color: aquamarine;
  padding: 30px;
}

.navbar {
  font-size: 2rem;
  padding: 1em;
  background-color: blanchedalmond;
}

.navbar-logo{
  color: deepskyblue;
  margin-right: 0.5em;
}

.add-input{
  font-size: 2rem;
  margin-right:10px;
}

.add-button {
  height: 100%;
  font-size: 1.8rem;
  padding: 0.3em 0.5em;
  background-color: deepskyblue;
  color: white;
}

.habit{
  padding: 0.5em;
  list-style: none;
  font-size: 2.5rem;
}

.habits-reset {
  font-size: 1.8rem;
  padding: 0.3em 0.5em;
  background-color: deepskyblue;
  color: white;

}

.habit-count,
.navbar-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: dodgerblue;
  color: white;
  border-radius: 50%;
}

.habit-button {
font-size: 2.5rem;
margin: 0 0.1em;
background-color: transparent;
}

.habit-button:hover{
  opacity: 0.8;
}

.habit-increase,
.habit-decrease{
  color: floralwhite;
}

.habit-delete{
  color: gray;
}